<div class="imagery-icon-svg">
    <?xml version="1.0" encoding="utf-8"?>
    <!-- Generator: Adobe Illustrator 24.2.1, SVG Export Plug-In . SVG Version: 6.00 Build 0)  -->
    <svg version="1.1" id="Layer_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" viewBox="0 0 1200 1200" style="enable-background:new 0 0 1200 1200;" xml:space="preserve">

<polygon class="st0" points="120,900 600,720 1080,900 600,1080 "/>
<polygon class="st1" points="120,660 600,480 1080,660 600,840 "/>
<polygon class="st2" points="120,420 600,240 1080,420 600,600 "/>
</svg>

</div>