<div class="voice-tone-icon-svg">

    <?xml version="1.0" encoding="utf-8"?>
    <!-- Generator: Adobe Illustrator 24.2.1, SVG Export Plug-In . SVG Version: 6.00 Build 0)  -->
    <svg version="1.1" id="Layer_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" viewBox="0 0 1200 1200" style="enable-background:new 0 0 1200 1200;" xml:space="preserve">
<style type="text/css">

</style>
<g>
	<line class="st0" x1="30" y1="825.2" x2="30" y2="477.7"/>
	<line class="st0" x1="144" y1="987.3" x2="144" y2="338.7"/>
	<line class="st0" x1="258" y1="894.7" x2="258" y2="408.2"/>
	<line class="st0" x1="372" y1="732.5" x2="372" y2="570.4"/>
	<line class="st0" x1="486" y1="941" x2="486" y2="361.9"/>
	<line class="st0" x1="600" y1="778.8" x2="600" y2="524"/>
	<line class="st0" x1="714" y1="894.7" x2="714" y2="408.2"/>
	<line class="st0" x1="828" y1="1080" x2="828" y2="222.9"/>
	<line class="st0" x1="942" y1="941" x2="942" y2="361.9"/>
	<line class="st0" x1="1056" y1="755.7" x2="1056" y2="547.2"/>
	<line class="st0" x1="1170" y1="810.7" x2="1170" y2="486.4"/>
</g>
</svg>


</div>