.color-palette {
    height: 250px;
    width: auto;
    border-radius: 20px;
    position: relative;
}

.secondary-color-palette {
    height: 150px;
    width: auto;
    border-radius: 20px;
    position: relative;
}

.color-palette-info-container {
    background-color: rgb(235, 235, 235);
    position: absolute;
padding: 20px;
    bottom: 0;
    height: auto;
    border-radius: 0 0 20px 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    left: 0;
    right: 0;
}

.color-palette-info {
    position: relative;
    height: $block7;
    display: flex;
    align-items: center;
    color: $twilight;

    width: 90%;

    p {
        width: 100%;
        text-align: right;
    }
}

@media only screen and (max-width: 728px) {
    .color-palette {
        height: 200px;
    }

    .color-palette-info-container {
        height: auto;
        padding: 0px;
        border-radius: 0 0 20px 20px;
        display: flex;
        flex-direction: row;
    }

    .color-palette-info {
        color: $twilight;

        display: flex;

        align-items: center;
        justify-content: center;
        width: auto;
        margin: $block2 0 $block2 0;

        p {
            text-align: left;
            margin-left: $block4;
            margin-right: $block4;
        }
    }
}