@import url("https://fonts.googleapis.com/css2?family=Space+Mono&display=swap");

@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono&display=swap');

@font-face {
    font-family: "KivaPostGrot";
    src: url("../assets/fonts/KivaPostGrot-Book.ttf");
    src: url("../assets/fonts/KivaPostGrot-Book.ttf") format("truetype");
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: "KivaPostGrot";
    src: url("../assets/fonts/KivaPostGrot-Medium.ttf");
    src: url("../assets/fonts/KivaPostGrot-Medium.ttf") format("truetype");
    font-weight: medium;
    font-style: medium;
}

@font-face {
    font-family: "KivaPostGrot";
    src: url("../assets/fonts/KivaPostGrot-Bold.ttf");
    src: url("../assets/fonts/KivaPostGrot-Bold.ttf") format("truetype");
    font-weight: bold;
    font-style: bold;
}
