footer {
    opacity: 0.5;
    margin: auto;
    padding: $block7 $block8 $block7 $block8;
    p {
        line-height: 100%;
        font-size: .875rem;
    }
    svg {
        width: 48px;
        fill: $bodyColor;
    }
    a {
        text-decoration: none;
        color: $bodyColor
    }
}

@media only screen and (max-width: 728px) {
    footer {
        padding: $block6;
        svg {
            width: 45px;
        }
    }
}