footer {
    opacity: 0.5;

    p {
        line-height: 0.8rem;
    }

    svg {
        width: 60px;

        fill: $bodyColor;
    }
}

@media only screen and (max-width: 728px) {
    footer {
        margin-top: $block4;
        svg {
            width: 45px;
        }
    }
}
