// * {
//     border-style: solid;
//     border-width: 1px;
// }

header {
	position: absolute;
	display: flex;
	align-items: center;
	justify-content: center;
	color: $bodyColor;
	width: 100%;
	.header-logo,
	ul {
		padding: $block7 $block8 $block7 $block8;
	}
	ul {
		display: flex;
		list-style-type: none;
	}
	li {
		padding-left: $block8;
		a {
			color: $bodyColor;
			text-decoration: none;

			background: linear-gradient(to bottom, $highlightColor 0%, $highlightColor 100%);
			background-position: 0 100%;
			background-repeat: repeat-x;
			background-size: 4px 0px;
			color: $bodyColor;
			text-decoration: none;
			transition: background-size 0.2s;
		}

		a:hover {
			background-size: 4px 8px;
		}
	}
	svg {
		width: 60px;
		fill: $bodyColor;
	}
}

.header-logo {
	width: 100%;
}

@media only screen and (max-width: 728px) {
	header {
display: none;
	}
}



@media only screen and (max-width: 1024px) and (min-width: 729px) {
	header {
		display: none;
			}
}









.mobile-nav {
    h1:hover svg {
        margin-left: $block2;
    }
}

.mobile-nav footer {
text-align: left;
padding: 0;
margin-top: $block3;
margin-bottom: $block3;
h4{ line-height: 1.2rem;}
}

