// * {
//     border-style: solid;
//     border-width: 1px;
// }

.hero-header {
    position: absolute;
    left: 0;
    right: 0;
    padding: $block8;
}

.hero-header-title {
    width: 70%;
    font-size: 5rem;
    line-height: 5rem;
    font-weight: bolder;
    color: $bodyColor;
}

.hero-header-sub {
    margin-top: $block3;
    opacity: 0.8;
    width: 70%;
    font-size: 1.2rem;
    color: $bodyColor;
}

.hero {
    height: 700px;
    display: flex;
    flex-direction: column;
    justify-content: center;

    img {
        width: 100%;
        height: 100%;
        object-fit: cover;
    }
}

.page-grid {

    margin: auto;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-gap: $block2;
    padding: $block8;
    background-color: rgba(120, 120, 120, 0.075);
    a {

        text-decoration: none;
 
    }

    button {
        width: 100%;
        position: relative;
        border-radius: $block2;
        background-color: $twilight;
        color: white;
        display: flex;
        align-items: center;
        justify-content: center;
        padding: $block9;
        cursor: pointer;
        border: none;
        font-weight: bold;
        font-size: 1rem;
        height: 300px;

        img {
            width: 75px;
        }
        .grid-text {
            width: 100%;
            position: absolute;
            bottom: $block7;
        }
    }
    button:hover img {
        transition-duration: 0.1s;
        transition-timing-function: ease-out;
        width: 85px;
    }
}

.padding {

    padding: $block8;
}



.download-assets-grid {
    margin: auto;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-gap: $block2;

    button {
        position: relative;

        border-radius: $block2;
        background-color: $backgroundColor;
        color: $bodyColor;
        display: flex;
        align-items: center;

        padding: $block8;
        cursor: pointer;
        border-style: solid;
        border-width: 1px;
        font-weight: bold;
        font-size: 1rem;
        img {
            width: 30px;
            margin-right: $block4;
        }

        .grid-text {
            width: 100%;
            position: relative;
            bottom: initial;
            text-align: left;
        }
    }
    button:hover {
        background-color: rgba(128, 128, 128, 0.089);
    }
}

.hollow {
    border-style: solid;
    border-width: 1px;
    background-color: $backgroundColor;
    color: $bodyColor;
    border-radius: $block10;
    padding: $block2 $block4 $block2 $block4;
}

@media only screen and (max-width: 728px) {
    .hero-header {
        padding: $block4;
    }
    .page-grid {
        grid-template-columns: 1fr;
        padding: $block4;

        button {
            padding: $block5;
            height: 100px;

            img {
                width: 40px;
                margin-right: $block4;
            }
            .grid-text {
                width: 100%;
                position: relative;
                bottom: initial;
                text-align: left;

            }
        }
        button:hover img {
            width: 50px;
        }
    }

    .hero {
        height: 600px;
        justify-content: flex-end;
    }
    .hero-header-title {
        width: 90%;
    }

    .hero-header-sub {
        width: 90%;
    }
    .padding {
        padding: $block4;
    }

    .download-assets-grid {
        grid-template-columns: 1fr 1fr;
        button {
            padding: $block4;
            img {
                width: 30px;
                margin-right: $block4;
            }
        }
    }
}

@media only screen and (max-width: 1024px) and (min-width: 729px) {
    .hero-header {
        padding: $block6;
    }
    .page-grid {
        grid-template-columns: 1fr 1fr;
        padding: $block6;
        button {
            padding: $block5;
            height: 100px;


            img {
                width: 40px;
                margin-right: $block6;
            }
            .grid-text {
                width: 100%;
                position: relative;
                bottom: initial;
                text-align: left;
            }
        }
        button:hover img {
            width: 50px;
        }
    }

    .hero {
        height: 900px;
        justify-content: flex-end;
    }
    .hero-header-title {
        width: 75%;
    }

    .hero-header-sub {
        width: 75%;
    }
    .padding {
 
        padding: $block6;
    }

    .download-assets-grid {
        grid-template-columns: 1fr 1fr 1fr;
        button {
            padding: $block6;
            img {
                width: 30px;
                margin-right: $block6;
            }
        }
    }
}
