// * {
//     border-style: solid;
//     border-width: 1px;
// }
// HERO MODULE
.hero-header {
    position: absolute;
    left: 0;
    right: 0;
    padding: $block8;
    button {
        position: absolute;
        left: 50%;
        transform: translate(-50%);
        margin-top: $block4;
    }
    p {
        margin: 0 0 16px 0;
    }
}

.hero-header-title {
    width: auto;
    color: $bodyColor;
    margin: auto;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
}

.hero-header-sub {
    opacity: 0.8;
    color: $bodyColor;
    text-align: center;
}

.hero {
    height: 500px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    img {
        width: 100%;
        height: 100%;
        object-fit: cover;
    }
}

// HEADER FOR EACH SECTION
.section-header {
    max-width: 1240px;
    margin: auto;
    padding-bottom: $block4;
    color: $bodyColor;
}

// PAGES MODULE
.page-grid-container {
    background-color: $bodyColor;
    line-height: 100%;
    padding: $block9;
    a,
    h1,
    h2,
    p {
        color: $backgroundColor;
    }
    p {
        opacity: 0.5;
        margin: 0 0 $block4 0;
    }
}

.page-grid {
    margin: auto;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-gap: 0;
    max-width: 1272px;
    a {
        text-decoration: none;
        margin-bottom: $block6;
        padding: $block4;
        border-radius: 0.8rem;
    }
    a:hover {
        background-color: rgba(130, 130, 130, 0.1);
    }
    h2 {
        padding-top: $block2;
    }
    button {
        width: 100%;
        background-color: transparent;
        color: white;
        display: flex;
        align-items: center;
        justify-content: center;
        cursor: pointer;
        border: none;
        padding: 0;
        img {
            width: 100%;
            height: 100%;
            object-fit: cover;
            border-radius: 0.8rem;
        }
        .grid-text {
            width: 100%;
            position: absolute;
            bottom: $block7;
        }
    }
    button:hover img {
        transition-duration: 0.1s;
        transition-timing-function: ease-out;
    }
}

// DOWNLOADABLE ASSETS MODULE
.download-assets-grid-container {
    line-height: 100%;
    padding: $block9;
    a {
        color: $bodyColor;
    }
}

.download-assets-grid {
    margin: auto;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-gap: $block4;
    max-width: 1240px;
    button {
        position: relative;
        border-radius: 0.8rem;
        background-color: $backgroundColor;
        color: $bodyColor;
        display: flex;
        align-items: center;
        padding: $block7;
        cursor: pointer;
        border-style: solid;
        border-width: 1px;
        font-size: 1rem;
        img {
            width: 30px;
            margin-right: $block4;
        }
        .grid-text {
            width: 100%;
            position: relative;
            bottom: initial;
            text-align: left;
        }
    }
    button:hover {
        background-color: rgba(128, 128, 128, 0.089);
    }
}

// MOBILE
@media only screen and (max-width: 728px) {
    .hero-header {
        padding: $block7;
    }
    .page-grid-container {
        padding: $block9 $block7 0 $block7;
    }
    .page-grid {
        grid-template-columns: 1fr;
        button {
            height: auto;
        }
        a {
            margin-bottom: 0px;
            padding: 0;
            padding-bottom: $block9;
        }
    }
    .hero {
        height: 550px;
    }
    .download-assets-grid-container {
        padding: $block9 $block7 0 $block7;
    }
    .download-assets-grid {
        grid-template-columns: 1fr;
        button {
            padding: $block4;
        }
    }
}

// TABLET
@media only screen and (max-width: 1024px) and (min-width: 729px) {
    .hero-header {
        padding: $block8;
    }
    .page-grid-container {
        padding: $block9 $block8 0 $block8;
    }
    .page-grid {
        grid-template-columns: 1fr 1fr;
        grid-gap: $block6;
        padding: 0;
        button {
            .grid-text {
                width: 100%;
                position: relative;
                bottom: initial;
                text-align: left;
            }
        }
        a {
            margin-bottom: 0px;
            padding: 0;
            padding-bottom: $block9;
        }
    }
    .hero {
        height: 400px;
    }
    .download-assets-grid-container {
        padding: $block9 $block8 0 $block8;
    }
    .download-assets-grid {
        grid-template-columns: 1fr 1fr 1fr;
        button {
            padding: $block6;
            img {
                width: 30px;
                margin-right: $block6;
            }
        }
    }
}