$backgroundColor: var(--background-color);
$bodyColor: var(--light-text-color);
$highlightColor: var(--highlight-color);
$bodyFont: -apple-system, BlinkMacSystemFont, "Segoe UI", Helvetica, Arial, sans-serif, "Apple Color Emoji",
  "Segoe UI Emoji", "Segoe UI Symbol";

html,
body {
  height: 100%;
}
body {
  width: 100%;
  margin: auto;
  font-family: $bodyFont;
  background: $backgroundColor;
  color: $bodyColor;

  padding: 0;
  // transition: background-color 0.3s ease-in-out;

  ::selection {
    background: $highlightColor;
  }
  ::-moz-selection {
    background: $highlightColor;
  }
}

.triple-grid {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-gap: 16px;
  width: 100%;

  img {
    height: 180px;
    width: 100%;
    object-fit: cover;
    border-radius: 20px;
  }
}

.quad-grid {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-gap: 16px;
  width: 100%;

  img {
    height: 150px;
    width: 100%;
    object-fit: cover;
    border-radius: 20px;
  }
}

.favorites-photo-grid {
  position: relative;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.favorites-photo {
  width: 49%;
  img {
    border-radius: 20px;
    width: 100%;
    height: 250px;
    object-fit: cover;
  }
}

.favorites-photo:nth-child(3n) {
  width: 100%;
  img {
    height: 350px;
    margin-top: 1.5%;
  }
}

@media only screen and (max-width: 728px) {
  .triple-grid {
    grid-template-columns: 1fr;
    img {
      height: 300px;
    }
  }

  .quad-grid {
    grid-template-columns: 1fr 1fr;
  }


  .favorites-photo {
    width: 47.5%;
    img {
      height: 150px;
    }
  }


  .favorites-photo:nth-child(3n) {

    img {
      margin-top: 4%;
      height: 250px;

    }
  }
}

@media only screen and (max-width: 1024px) and (min-width: 729px) {
  .triple-grid {
    grid-template-columns: 1fr 1fr;
    img {
      height: 250px;
    }
  }
  .quad-grid {
    grid-template-columns: 1fr 1fr 1fr;
    img {
      height: 200px;
    }
  }
}

$block1: 4px;
$block2: 8px;
$block3: 12px;
$block4: 16px;
$block5: 20px;
$block6: 24px;
$block7: 32px;
$block8: 48px;
$block9: 64px;
$block10: 96px;
$block11: 128px;

$twilight: #3e4653;
$mint: #9eebd5;

html,
html[data-theme="light"] {
  --background-color: #ffffff;
  --light-text-color: #3e4653;
  --highlight-color: #9eebd5;
  --link-color: rgb(0, 112, 201);
  --main-background-color: rgb(255, 255, 255);
  --main-text-color: rgb(51, 51, 51);
}

html[data-theme="dark"] {
  --background-color: #3e4653;
  --light-text-color: #ffffff;
  --highlight-color: #bf5344;
  --link-color: rgb(100, 210, 255);
  --main-background-color: rgb(28, 28, 30);
  --main-text-color: rgb(229, 229, 234);
}

@media (prefers-color-scheme: dark) {
  html,
  html[data-theme="dark"] {
    --background-color: #26292e;
    --light-text-color: #ffffff;
    --highlight-color: #bf5344;
    --link-color: rgb(100, 210, 255);
    --main-background-color: rgb(28, 28, 30);
    --main-text-color: rgb(229, 229, 234);
  }

  html[data-theme="light"] {
    --background-color: #ffffff;
    --light-text-color: #26292e;
    --highlight-color: #9eebd5;
    --link-color: rgb(0, 112, 201);
    --main-background-color: rgb(255, 255, 255);
    --main-text-color: rgb(51, 51, 51);
  }
}

h1 {
  font-size: 1.8rem;
}
h2 {
  font-size: 1.2rem;
}

p {
  font-size: 1rem;
  line-height: 1.5rem;
}

hr {
  border: none;
  height: 0.5px;
  /* Set the hr color */
  color: rgba(125, 125, 125, 0.5); /* old IE */
  background-color: rgba(125, 125, 125, 0.5); /* Modern Browsers */
}

$animationSpeed1: 180ms;
