.page-body {
    display: flex;
}

.page-title {
    font-size: 3rem;
    color: $bodyColor;
    font-weight: bolder;
    margin-bottom: $block8;
}

.page-content {
    width: 60%;
    padding: $block8;
    margin-top: $block4;
    background-color: $backgroundColor;
    h1 {
        margin-top: $block9;
    }
    h2 {
        margin-top: $block7;
    }
}

@media only screen and (max-width: 728px) {
    .page-content {
        width: 100%;
        padding: $block4;
        h1 {
            margin-top: $block9;
        }
    }
}

