// * {
//     border-style: solid;
//     border-width: 1px;
// }



.page-body {

    display: flex;
    ul {
        padding: 0;
        list-style-type: none;
    }

li {
        line-height: 1.5rem;
        list-style-type: none;
        list-style-position: inside;
        text-indent: -1.5em;
        padding-left: 1.5em;
        padding-top: $block4;

    }
    
li:before {
        content: "✓";
        margin-right: 10px;
        color: $mint;
    }
}

.page-title {
    font-size: 3rem;
    color: $bodyColor;
    font-weight: bolder;
    margin-bottom: $block8;
}

.page-content {
width: 55%;
    padding: $block8;
    margin-top: $block4;
    background-color: $backgroundColor;

    h1 {
        margin-top: $block9;
        width: 100%;
    }
    h2 {
        margin-top: $block7;
    }
    svg {
        .st0 {
            fill: $bodyColor;
        }
    }
}

.pages-footer {
    display: none;
}

@media only screen and (max-width: 728px) {
    .page-content {
        width: 100%;
        padding: $block6;
        h1 {
            margin-top: $block8;
        }
        h1:first-child {
            margin-top: $block8;
        }
    }
    .page-title {
        margin-top: 90px;
    }

    .pages-footer {
        display: initial;
        svg{
        margin-top: $block4;

        }
    }

}

@media only screen and (max-width: 1024px) and (min-width: 729px) {
    .page-content {
        width: 100%;
        padding: $block8;
        h1 {
            margin-top: $block8;
        }
        h1:first-child {
            margin-top: $block8;
        }
    }
    .page-title {
        margin-top: $block8;
    }
}

// OTHER STUFF

.guideline li {
    line-height: 1.5rem;
    list-style-type: none;
    list-style-position: inside;
    text-indent: -1.5em;
    padding-left: 1.5em;
    padding-top: $block4;
}

.guideline li:before {
    content: "✓";
    margin-right: 10px;
    color: $mint;
}

.h1-link {
    display: flex;
}

.main-button {
    background-color: transparent; /* Green */
    border-style: solid;
    border-color: $bodyColor;
    border-width: .5px;
    color: $bodyColor;
    padding: $block4 $block6 $block4 $block6;
    text-decoration: none;
    font-weight: bold;
    height: 45px;
    align-self: flex-end;
    width: auto;
    margin-bottom: $block4;
    border-radius: .8rem;
    white-space: nowrap;
    font-size: 1rem;
    line-height: .8rem;
}

.main-button:hover {
    color: $backgroundColor;
    background-color: $bodyColor;
    transition-duration: 0.1s;
    transition-timing-function: ease-out;

}

@media only screen and (max-width: 728px) {
    .h1-link {
        display: inline-block;
    }
    .main-button {
        margin-top: $block4;
    }
}
