.sidenav {
    position: fixed;
    background-color: $twilight;
    color: white;
    width: 20%;
    height: 100vh;




    ul {
        padding: 0;
    }

    li {
        display: flex;
        padding: $block4 $block8 $block4 $block7;
        list-style: none;
        border-style: solid;
        border-width: 0px 0px 0px 4px;
        border-color: transparent;
        cursor: pointer;

        align-items: center;

        img {
            width: 30px;
            margin-right: $block4;
        }
    }
    li:hover {
        background-color: rgba(0, 0, 0, 0.103);
        border-style: solid;
        border-width: 0px 0px 0px 4px;
        border-color: #afe9d6;
    }
    a {
        color: white;
        text-decoration: none;
    }
}

.sidenav-logo {
    padding: $block8;
    svg {
        width: 60px;
        fill: white;
    }
}

.sidenav-footer {
    padding: $block8;
    opacity: 0.3;
    position: absolute;
    bottom: 0;
}

.sidenav-spacer {
    width: 20%;

    height: 100vh;
}

@media only screen and (max-width: 728px) {
    .sidenav {display: none;}
    .sidenav-spacer {display: none;}

}
