.sidenav {
    position: fixed;
    background-color: $twilight;
    color: white;
    width: 20%;
    height: 100vh;
overflow: scroll;
    ul {
        padding: 0;
    }

    li {
        display: flex;
        padding: $block4 $block8 $block4 $block7;
        list-style: none;
        border-style: solid;
        border-width: 0px 0px 0px 4px;
        border-color: transparent;
        cursor: pointer;

        align-items: center;

        img {
            width: 30px;
            margin-right: $block4;
        }
    }
    li:hover {
        background-color: rgba(0, 0, 0, 0.103);
        border-style: solid;
        border-width: 0px 0px 0px 4px;
        border-color: #afe9d6;
    }
    a {
        color: white;
        text-decoration: none;
    }
    ul{
        margin-bottom: $block4;
    }
}

.sidenav-logo {
    padding: $block8;
    svg {
        width: 60px;
        fill: white;
    }
}

.sidenav-footer {
position: relative;
padding: $block8;
opacity: .3;
}

.sidenav-spacer {
    width: 20%;

    height: 100vh;
}

@media only screen and (max-width: 728px) {
    .sidenav {
        display: none;
    }
    .sidenav-spacer {
        display: none;
    }
}

@media only screen and (max-width: 1024px) and (min-width: 729px) {
    .sidenav {
        display: none;
    }
    .sidenav-spacer {
        display: none;
    }
}

/* Style the sidenav links and the dropdown button */
.sidenav a,
.dropdown-btn {
    display: block;
    width: 100%;
    text-align: left;
    cursor: pointer;
    outline: none;
}

.dropdown-container a {
    padding: $block4 0 $block4 64px;
}

.dropdown-container a:hover {
    opacity: 0.5;
}


/* Dropdown container (hidden by default). Optional: add a lighter background color and some left padding to change the design of the dropdown content */
.dropdown-container {
    display: none;
    background-color: rgba(0, 0, 0, 0.2);
    padding: $block4;
}

/* Optional: Style the caret down icon */
.fa-caret-down {
    float: right;
    padding-right: 8px;
}
