// * {
//     border-style: solid;
//     border-width: 1px;
// }

@keyframes slideInFromLeft {
	0% {
		transform: translateX(-100%);
	}
	100% {
		transform: translateX(0);
	}
}




@keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
}

/* Firefox < 16 */
@-moz-keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
}

/* Safari, Chrome and Opera > 12.1 */
@-webkit-keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
}

/* Internet Explorer */
@-ms-keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
}

/* Opera < 12.1 */
@-o-keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
}

.sidenav {
width: 20%;
    background-color: rgba(130, 130, 130, 0.05);
    color: $bodyColor;
position: fixed;
    height: 100vh;
    overflow: scroll;
font-size: 14px;
border-style: solid;
border-width: 0 1px  0 0;
border-color: rgba(130, 130, 130, 0.20);
    ul {
        padding: 0;
    }

    li {
        display: flex;
        padding: $block6 $block8 $block6 $block8;
        list-style: none;
        border-style: solid;
        border-width: 0px 0px 0px 2px;
        border-color: transparent;
        cursor: pointer;

        align-items: center;

        img {
            width: 30px;
            margin-right: $block4;
            filter: grayscale(100%);
            display: none;
        }
    }
    li:hover {
        background-color: rgba(0, 0, 0, 0.103);
        border-style: solid;
        border-width: 0px 0px 0px 2px;
        border-color: $bodyColor;
        img {
            filter: grayscale(0%);
        }
    }


    a {
        color: $bodyColor;
        text-decoration: none;
    }
    ul {
        margin-bottom: $block4;
    }
}

.sidenav-logo {
    padding: $block8;
    svg {
        width: 55px;
        fill: $colorA;
    }
}

.sidenav-footer {
    position: relative;
    padding: $block8;
    opacity: 0.3;
}

.sidenav-spacer {
    width: 20%;

    height: 100vh;
}

@media only screen and (max-width: 728px) {
    .sidenav {
        display: none;
    }
    .sidenav-spacer {
        display: none;
    }
}

@media only screen and (max-width: 1024px) and (min-width: 729px) {
    .sidenav {
        display: none;
    }
    .sidenav-spacer {
        display: none;
    }
}

/* Style the sidenav links and the dropdown button */
.sidenav a,
.dropdown-btn {
    position: relative;
    display: block;
    width: 100%;
    text-align: left;
    cursor: pointer;
    outline: none;

}

.dropdown-btn svg {
    position: absolute;
    display: flex;
    width: 16px;
    right: 0;
    bottom: 26px;
    padding-right: $block7;

    .st0 {
        fill: $bodyColor;
        stroke: $bodyColor;
        stroke-width: 15;
        stroke-linecap: round;
        stroke-miterlimit: 10;
    }
}

.dropdown-btn2 {
    position: relative;
}

.dropdown-btn2 svg {
    position: absolute;
    display: flex;
    width: 16px !important;
    right: 0;
    bottom: 26px;
    padding-right: $block7;
    .st0 {
        fill: #ffffff;
        stroke: #ffffff;
        stroke-width: 15;
        stroke-linecap: round;
        stroke-miterlimit: 10;
    }
}



.dropdown-container a {
    padding: $block4 0 $block4 64px;
}

.dropdown-container a:hover {
    opacity: 0.5;
}

/* Dropdown container (hidden by default). Optional: add a lighter background color and some left padding to change the design of the dropdown content */
.dropdown-container {
    display: none;
    background-color: rgba(130, 130, 130, 0.1);
    padding: $block4;


    -webkit-animation: fadein .8s; /* Safari, Chrome and Opera > 12.1 */
    -moz-animation: fadein .8s; /* Firefox < 16 */
     -ms-animation: fadein .8s; /* Internet Explorer */
      -o-animation: fadein .8s; /* Opera < 12.1 */
         animation: fadein .8s;
}
