

// * {
//     border-style: solid;
//     border-width: 1px;
// }

$numberOfElements: 4;
$fontSize: 4rem;

.carousel {
    position: relative;
    width: 100%;
    font-family: "KivaPostGrot-Bold";
letter-spacing: -.12rem;
    font-size: $fontSize;
    line-height: $fontSize * 1.5;
    height: $fontSize * 1.5;
    display: flex;



    align-items: center;

    .pre {
 
        height: $fontSize * 1;
        margin-right: $block4;
        line-height: $fontSize * 1;
        display: flex;



        align-items: center;
    }

    .change_outer {
 
        text-align: left;
        height: $fontSize * 1.5;
        overflow: hidden;

        padding: 0;

        .change_inner {

            animation: rotate 8s ease-in-out infinite;
        }

        .element {
            display: block;

        }
    }
}

@keyframes rotate {
    0%,
    20% {
        transform: translateY(0);
    }
    25%,
    45% {
        transform: translateY($fontSize * -1.5);
    }
    50%,
    70% {
        transform: translateY($fontSize * -3);
    }
    75%,
    95% {
        transform: translateY($fontSize * -4.5);
    }
    100% {
        transform: translateY($fontSize * -6);
    }
}

@media only screen and (max-width: 728px) {
    .carousel {
        display: inline-block;

        .pre {
     
            line-height: $fontSize * 1.2;
        }
    }
}



@media only screen and (max-width: 1024px) and (min-width: 729px) {
    .carousel {
        display: inline-block;

        .pre {

            line-height: $fontSize * 1.2;
        }
    }

}
