<!DOCTYPE html>
<html lang="{{ site.lang | default: "en-US" }}">

<head>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta charset="utf-8">
    <title>{{ page.title }} - {{ site.title }}</title>
    <link rel="stylesheet" href="{{ "/assets/css/main.css" | relative_url }}">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>
  <script src="//ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js"></script>
          <script src="../assets/js/search-script.js"></script>
</head>

<body>



    {% include header.html %}
    {% include mobileheader.html %}
        {% include popup.html %}

    <div class="hero">
        <img src="../assets/blob.svg">

        <div class="hero-header">
            <div class="hero-header-title">Kiva Brand Guide</div>
            <div class="hero-header-sub">Assets for building high-quiality, consistent user experiences at Kiva.</div>

        </div>
    </div>


    <div class="page-grid">

        <a href="{{ site.url }}{{ site.baseurl }}/logo">
            <button>
                <img src="../assets/icons/kiva-icon.svg">
                <div class="grid-text">Logo Usage</div>
            </button>
        </a>
        <a href="{{ site.url }}{{ site.baseurl }}/palette">
            <button>
                <img src="../assets/icons/palette-icon.svg">
                <div class="grid-text">Color Palette</div>
            </button>
        </a>
        <a href="{{ site.url }}{{ site.baseurl }}/typography">
            <button>
                <img src="../assets/icons/type-icon.svg">
                <div class="grid-text">Typography</div>
            </button>
        </a>
        <a href="{{ site.url }}{{ site.baseurl }}/usage">
            <button>
                <img src="../assets/icons/image-icon.svg">
                <div class="grid-text">Imagery</div>
            </button>
        </a>
        <a href="{{ site.url }}{{ site.baseurl }}/voice+tone">
            <button>
                <img src="../assets/icons/voicetone-icon.svg">
                <div class="grid-text">Voice & Tone</div>
            </button>
        </a>
        <a href="{{ site.url }}{{ site.baseurl }}/copy+data">
            <button>
                <img src="../assets/icons/copydata-icon.svg">
                <div class="grid-text">Copy & Data</div>
            </button>
        </a>

    </div>



    <div class="padding">
        <div class="download-assets">
            <h1>Download Assets</h1>
            <p>Lorem ipsum dolor sit</p>
            <div class="download-assets-grid">
                <button>
                    <img src="../assets/icons/kiva-dl-icon.svg">
                    <div class="grid-text">Kiva Logos</div>
                </button>
                <button>
                    <img src="../assets/icons/palette-dl-icon.svg">
                    <div class="grid-text">Color Palette</div>
                </button>
                <button>
                    <img src="../assets/icons/figma-dl-icon.svg">
                    <div class="grid-text">Figma Libraries</div>
                </button>
                <button>
                    <img src="../assets/icons/image-dl-icon.svg">
                    <div class="grid-text">Images</div>
                </button>
                <button>
                    <img src="../assets/icons/illustration-dl-icon.svg">
                    <div class="grid-text">Illustrations</div>
                </button>
                <button>
                    <img src="../assets/icons/pattern-dl-icon.svg">
                    <div class="grid-text">Patterns</div>
                </button>
            </div>
        </div>
    </div>



    {{ content}}


    <div class="padding">
    {% include footer.html %}
</div>
</body>

</html>