<!DOCTYPE html>
<html lang="{{ site.lang | default: "en-US" }}">
  <head>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta charset="utf-8">
    <title>{{ page.title }} - {{ site.title }}</title>
    <link rel="stylesheet" href="{{ "/assets/css/main.css" | relative_url }}">







  </head>
  <body>















  

  <div class="page-body">
    
      {% include sidenav.html %}
      

<div class="sidenav-spacer">hi</div>
<div class="page-content">
    <div class="page-title">{{page.title}}</div>
    <hr>









<nav class="menu">
   <input type="checkbox" href="#" class="menu-open" name="menu-open" id="menu-open" />
   <label class="menu-open-button" for="menu-open">
    <span class="lines line-1"></span>
    <span class="lines line-2"></span>
    <span class="lines line-3"></span>
  </label>

   <a href="#" class="menu-item blue"> <img src="../assets/icons/kiva-icon.svg"> </a>
   <a href="#" class="menu-item green"> <img src="../assets/icons/palette-icon.svg"> </a>
   <a href="#" class="menu-item red"> <img src="../assets/icons/type-icon.svg"> </a>
   <a href="#" class="menu-item purple"> <img src="../assets/icons/image-icon.svg"></a>
   <a href="#" class="menu-item orange"><img src="../assets/icons/voicetone-icon.svg"></a>
   <a href="#" class="menu-item lightblue"> <img src="../assets/icons/copydata-icon.svg"></a>
</nav>











    {{ content}}
</div>

</div>


















  </body>
</html>
